# Virtual environment
.venv/

# Python cache files
__pycache__/
*.py[cod]

# Django migrations
*/migrations/

# SQLite database
db.sqlite3

# Static files
static/

# Ignore system files
.DS_Store

# Ignore IDE specific files
.vscode/
.idea/
